[Unit]
Description=Local DNS Forwarder
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/ldf
Restart=always

[Install]
WantedBy=multi-user.target

